.careers [data-anchor="open-positions"] .xxnarrowwrap {
	max-width: 29rem;
}

.careers [data-anchor="open-positions"] .caption {
	font-size: 1.3em;
}

/* logo animacio */
.siteheader__brand:focus .logo-letter,
.siteheader__brand:hover .logo-letter {
	animation-duration: 0s;
}

#logo-letter-s {
	animation-delay: 0.5s
}

#logo-letter-t {
	animation-delay: 0.55s
}

#logo-letter-e {
	animation-delay: 0.6s
}

#logo-letter-i {
	animation-delay: 0.65s
}

#logo-letter-n {
	animation-delay: 0.7s
}

@media screen and (max-width: 48em) {

	/* Works - mobil filter */
	.workframe__side {
		position: fixed;
		background: rgba(0, 0, 0, .95);
		z-index: 9000;
		width: 90%;
		bottom: 0;


	}

	.workpanel {
		padding: 2rem 0 4rem;
	}

	.mobileworkfiltertogglerwrap {
		position: fixed;
		bottom: 0;
		left: 1em;
		z-index: 1000;
		max-width: 5.5em;
		padding: 1.4em;
		background: rgba(0, 0, 0, .95);

	}

	.mobileworkfiltertogglerwrap a {
		margin: 0;
		padding: 0;
		line-height: auto;

	}

	.mobileworkfiltertogglerwrap H3 {
		display: none;

	}

	/* Works - videoplay */
	.vidiplay {
		right: 0;
		bottom: 13vh;
		width: 100%;
		text-align: center;
	}

	.vidiplay svg {
		width: calc(10rem + 4.5vw);
		height: auto;
	}

	/* Clients section */
	[data-anchor="clients"] .headtall,
	[data-anchor="latest-news"] .headtall,
	[data-anchor="articles"] .headtall {
		padding-top: 0em !important;
	}

	[data-anchor="open-positions"] .headtall,
	[data-anchor="stein-values"] .headtall,
	[data-anchor="team"] .headtall {
		padding-top: 6em !important;
	}



}



/* Services - hatterbeallitas  */
.services [data-service="archviz-skills-development"] {
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .95))
}

/* Cookie box */
.cc-window {
	box-shadow: none;
}

.cc-window.cc-floating {
	padding: 1.4em;

}


.cc-floating .cc-message {
	margin-bottom: 1.4em;
}

.cc-floating .cc-compliance>.cc-btn {
	background: #FFF;

}


/* home betű */
.horizontalmenu {
	font-weight: 600;
	letter-spacing: .12em;
}


/* message sent text */
#proposalpanel-5 .lead {
	font-size: 1.4em;
}





/* ---------------- Home ---------------- */
.home [data-anchor="homestart"] .pagehead__title.large {
	font-size: 2.5em;
}

.home [data-anchor="featured-work"] .featwork .bodycopy {
	margin-left: 5em;
}

/* ---------------- Home - About us ---------------- */
.home [data-anchor="about"] .xxnarrowwrap {
	margin-bottom: 4vh !important;
}

.home [data-anchor="about"] .xxnarrowwrap {
	max-width: 25rem;
}

/* ---------------- Home - Services ---------------- */
.home [data-anchor="services"] .xxnarrowwrap {
	margin-bottom: 4vh !important;
	max-width: 38rem;
}

.home [data-anchor="services"] .bodycopy,
.home [data-anchor="about"] .bodycopy {
	margin-bottom: -1vh;
}

/*.home [data-anchor="services"] .lead {
	width: 24rem;
}*/

/* ---------------- Home - Contact ---------------- */
.home [data-anchor="contact"] .xxnarrowwrap {
	max-width: 22em;
}

@media screen and (min-width: 97.5em) {
	.home [data-anchor="contact"] .xxnarrowwrap {
		max-width: 22em;
	}
}

.home [data-anchor="contact"] .bodycopy {
	max-width: 22em;
}

.home [data-anchor="contact"] .bodycopy h3 {
	max-width: 10em;
}




/* ---------------- Academy ---------------- */

.featworkintro {
	max-width: 23rem;
}


.archive .team_member .lead {
	max-width: 24em !important;
}


/* ---------------- Services ---------------- */

.services .pagewrap .lead {
	max-width: 24em !important;
	margin-bottom: 3.5rem;
}



/* ---------------- About ---------------- */
.about [data-anchor="start"] .lead {
	max-width: 44rem;
}


/* max width-er kiszedtem, a másikat inkább neeee */
/*@media screen and (min-width: 97.5em)
.spmgrid__side {
	max-width: none;
}

@media screen and (min-width: 97.5em)
.about [data-anchor="start"] .spmgrid__side {
  min-width: 25em !important;
}
*/


/* ---------------- Careers ---------------- */
/* Ez okafogyottá vált normalizáltam a markup-ot */
/*@media screen and (min-width: 38em)
.careers .vtabframe__side {
	flex-basis: 23rem;
}

@media screen and (min-width: 48em)
.careers .vtabframe__side {
	flex-basis: 20.5rem;
}*/

/*.careers [data-anchor="open-positions"] h3.pagehead__title {
    	max-width: 7em;
}*/

/*@media screen and (min-width: 38em)
.careers [data-anchor="open-positions"] h3.pagehead__title {
	max-width: 7em;
}*/


/* van erre osztály .pagehead__title.small átirtam a márkupot */
/*.careers [data-anchor="open-positions"] .pagehead__title,
.careers [data-anchor="stein-values"] .pagehead__title,
.careers [data-anchor="articles"] .pagehead__title {
	font-size: 2.25rem;
}*/

/* .semilarge osztály 1.55 remre tettem */
/*.careers [data-anchor="open-positions"] .lead.semilarge,
.careers [data-anchor="stein-values"] .lead.semilarge, 
.careers [data-anchor="articles"] .lead.semilarge {
	font-size: 1.55em;
}
*/

/*okafogyottá vált változott a markup */
/*.careers [data-anchor="open-positions"] .vtabframe {
	display: block;
	
}


.careers [data-anchor="open-positions"] .vtabframe__side {
	max-width: 31em;
	margin-bottom: 4em;
}
*/

/* ezt jelezd kérésként a táblában, hogy a caption-on állítsak */
/*.careers [data-anchor="open-positions"] .caption {
	text-transform: none;
	letter-spacing: 0;
	font-weight: 500;
}
*/
/* ---------------- Work / Art of Stein ---------------- */
.workframe__main__intro h2 {
	margin-bottom: 3vh !important;
}


.contact .pagewrap__bg {
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, .333) 50%, rgba(0, 0, 0, .8), rgba(0, 0, 0, .9);
}


/* Masonry gallery */

.lb-loader, .lightbox {
	text-align:center; line-height:0; position:absolute; left:0
}

body.lb-disable-scrolling {
	overflow:hidden
}

.lightboxOverlay {
	position:absolute; top:0; left:0; z-index:9999; background-color:#000; filter:alpha(Opacity=80); opacity:.8; display:none
}

.lightbox {
	width:100%; z-index:10000; font-weight:400; outline:0
}

.lightbox .lb-image {
	display:block; height:auto; max-width:inherit; max-height:none; border-radius:3px; border:4px solid #fff
}

.lightbox a img {
	border:none
}

.lb-outerContainer {
	position:relative; width:250px; height:250px; margin:0 auto; border-radius:4px; background-color:#fff
}

.lb-outerContainer:after {
	content:""; display:table; clear:both
}

.lb-loader {
	top:43%; height:25%; width:100%
}

.lb-cancel {
	display:block; width:32px; height:32px; margin:0 auto; background:url(https://steinvisual.com/images/loading.gif) no-repeat
}

.lb-nav {
	position:absolute; top:0; left:0; height:100%; width:100%; z-index:10
}

.lb-container>.nav {
	left:0
}

.lb-nav a {
	outline:0; background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}

.lb-next, .lb-prev {
	height:100%; cursor:pointer; display:block
}

.lb-nav a.lb-prev {
	width:34%; left:0; float:left; background:url(https://steinvisual.com/images/prev.png) left 48% no-repeat; filter:alpha(Opacity=0); opacity:0; -webkit-transition:opacity .6s; -moz-transition:opacity .6s; -o-transition:opacity .6s; transition:opacity .6s
}

.lb-nav a.lb-prev:hover {
	filter:alpha(Opacity=100); opacity:1
}

.lb-nav a.lb-next {
	width:64%; right:0; float:right; background:url(https://steinvisual.com/images/next.png) right 48% no-repeat; filter:alpha(Opacity=0); opacity:0; -webkit-transition:opacity .6s; -moz-transition:opacity .6s; -o-transition:opacity .6s; transition:opacity .6s
}

.lb-nav a.lb-next:hover {
	filter:alpha(Opacity=100); opacity:1
}

.lb-dataContainer {
	margin:0 auto; padding-top:5px; width:100%; border-bottom-left-radius:4px; border-bottom-right-radius:4px
}

.lb-dataContainer:after {
	content:""; display:table; clear:both
}

.lb-data {
	padding:0 4px; color:#ccc
}

.lb-data .lb-details {
	width:85%; float:left; text-align:left; line-height:1.1em
}

.lb-data .lb-caption {
	font-size:13px; font-weight:700; line-height:1em
}

.lb-data .lb-caption a {
	color:#4ae
}

.lb-data .lb-number {
	display:block; clear:left; padding-bottom:1em; font-size:12px; color:#999
}

.lb-data .lb-close {
	display:block; float:right; width:30px; height:30px; background:url(https://steinvisual.com/images/close.png) top right no-repeat; text-align:right; outline:0; filter:alpha(Opacity=70); opacity:.7; -webkit-transition:opacity .2s; -moz-transition:opacity .2s; -o-transition:opacity .2s; transition:opacity .2s
}

.lb-data .lb-close:hover {
	cursor:pointer; filter:alpha(Opacity=100); opacity:1
}

/* The Masonry Container */
.masonry {
	margin: 1.5em auto;
	max-width: 840px;
	column-gap: 0.7em;
}

/* The Masonry Stein */
.masonry a {
	/*padding: 0.7em;*/
	/*margin: 0 0 em;*/

}

.masonry a img {
	max-width: 100%;
	margin-bottom: 0.7em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
	.masonry {
		column-count: 3;
	}
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.masonry {
		column-count: 3;
	}
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
	.masonry {
		column-count: 2;
	}
}
